@use '../variables/_colors.scss' as colors;

.card {
  width: 280px;
  height: 320px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }


.card_image {
  position: relative;            /* contenedor de referencia */
  width: 100%;
  aspect-ratio: 3 / 4;           /* o height: 160px */
  background: colors.get-color('paper', 2);
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centra exacto */
    width: 40%;
    height: auto;
    object-fit: contain;         /* o cover */
    object-position: center;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
  }
}


  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  .card_header {
      padding: 20px;
      background: colors.get-color('paper', 5);
      color: white;


    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }

    .isbn {
      font-size: 12px;
      opacity: 0.9;
      margin-top: 8px;
    }
  }

  .card_body {
    padding: 16px;
    flex: 1;
    overflow-y: auto;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 1.6;
      color: colors.get-color('paper', 7);
    }
  }

  .card_footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border-top: 2px solid colors.get-color('paper', 3);
    color: colors.get-color('paper', 7);
    gap: 8px;

    p{
      font-size: 12px;
      font-weight: 600;
    }

    button {
      flex: 1;
      padding: 8px 12px;
      border: none;
      border-radius: 6px;
      font-size: 13px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;

      &.btn-edit {
        background-color: #007bff;
        color: white;

        &:hover {
          background-color: #0052aa;
        }
      }

      &.btn-delete {
        background-color: #dc3545;
        color: white;

        &:hover {
          background-color: #8d2731;
        }
      }
    }
  }
}
