@use "../variables/_colors.scss" as colors;

.category {
  &-container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
    width: 100%;
    max-height: 700px;
    flex-direction: column;
    gap: 20px;
    &_inner {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: colors.get-color("paper", 3);
    }
    &_list {
      display: flex;
      flex-direction: column;
      max-height: 400px;
      width: 260px;
      overflow-y: auto;
      gap: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    &_subscription {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 10px;
      p {
        color: colors.get-color("paper", 8);
      }
    }
  }
}
