@use "sass:map";
@use "../variables/_colors.scss" as colors;

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  overflow: hidden;
  transition: background-color 0.3s ease;

  .counter-btn {
    font-size: 18px;
    min-width: 25%;
    height: 100%;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .counter-btn-left {
  }

  .counter-btn-right {
  }

  .counter-display {
    min-width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: colors.get-color("paper", 7);
  }
}
