@use "../variables/_colors.scss" as colors;

.header-component {
  display: flex;
  flex-direction: column;
  height: 100px;
  box-sizing: border-box;

  .header-component-top {
    display: flex;
    height: 60px;
    .header-component-top_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
    }
    .header-component-top_search_bar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .header-component-top_user {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
    }
  }
  .header-component-bottom {
    display: flex;
    flex: 1 ;
    border-top: 2px solid colors.get-color("paper", 7);
    border-bottom: 2px solid colors.get-color("paper", 7);  
  }
}
