@use "../variables/_colors.scss" as colors;

.header {
  display: flex;
  flex-direction: column;
  height: 100px;
  box-sizing: border-box;
  background: colors.get-color("paper", 1);
  color: colors.get-color("paper", 8);
  border-bottom: 1px solid colors.get-color("paper", 3);

  // Elements
  &__top {
    display: flex;
    height: 60px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 16px;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 14px;
    gap: 8px;
  }

  &__bottom {
    display: flex;
    flex: 1;
    background: colors.get-color("paper", 2);
  }
}
