@use "sass:map";
@use '../variables/_colors.scss' as colors;

svg{
    /* Force icons to use currentColor and default to white */
    color: white;
    path,
    circle {
        stroke: currentColor;
    }
}