@use "sass:map";
@use "../variables/_colors.scss" as colors;

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.with-label-wrapper {
  height: 50px;
}

.without-label-wrapper {
  height: 30px;
}

.input-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  line-height: 1;
}

.input-icon {
  position: absolute;
  height: 20px;
  width: 24px;
  display: flex;
  left: 5px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: colors.get-color("paper", 5);
}

.input-base {
  height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  border: 2px solid colors.get-color("paper", 5);
  border-radius: 15px;
  transition: border-color 0.3s ease;
  &:focus {
    border-color: colors.get-color("paper", 7);
    outline: none;
  }
}

.with-icon {
  padding-left: 27px;
}

.without-label{
  top: 5px;
}

.with-label{
  bottom: 5px;
}
