@use "sass:map";
@use "../variables/_colors.scss" as colors;

.navbar-component {
  display: flex;
  justify-content: left;
  align-items: center;
	text-align: left;
	
  width: 100%;
  height:100%;
  

	
	a{
		height: 20px;
		
		text-decoration: none;
		border-right: 2px solid colors.get-color("primary", "5");
		color: colors.get-color("primary", "5");
		padding-right: 10px;
		padding-left: 10px;
		margin: 0px;
	}
}
