@use "sass:map";
@use "../variables/_colors.scss" as colors;

.select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;

  // Elements
  &__label {
    font-size: 13px;
    font-weight: 500;
    color: colors.get-color("paper", 7);
    line-height: 1.2;
    margin-bottom: 5px;
  }

  &__icon {
    position: absolute;
    height: 20px;
    width: 24px;
    display: flex;
    left: 5px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: colors.get-color("paper", 5);
  }

  &__field {
    min-height: 30px;
    box-sizing: border-box;
    padding: 0 14px 0 12px;
    border-radius: 999px;
    border: 1px solid #778DA9;
    background: rgba(224, 225, 221, 0.95);
    font-size: 14px;
    transition: border-color 0.18s ease, box-shadow 0.18s ease, background-color 0.18s ease;
    appearance: none;
    cursor: pointer;

    &:hover {
      background: #ffffff;
    }

    &:focus {
      border-color: #415A77;
      box-shadow: 0 0 0 2px rgba(65, 90, 119, 0.25);
      outline: none;
      background: #ffffff;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  // Modifiers
  &--with-icon {
    .select__field {
      padding-left: 27px;
    }
  }

  &--with-label {
    min-height: 60px;

    .select__icon {
      bottom: 5px;
    }
  }

  &--without-label {
    height: 30px;

    .select__icon {
      top: 5px;
    }
  }
}
