@use "../variables/_colors.scss" as colors;

.container {
  &--home {
    display: flex;
    flex-direction: row;
    height: calc(100dvh - 100px);
    background: colors.get-color("paper", 2);
  }

  &__sidebar {
    display: flex;
    width: 280px;
    box-sizing: border-box;
    background: colors.get-color("paper", 1);
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 280px);
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 24px 32px;
    gap: 24px;
  }

  &__promotion {
    display: none;
  }

  &__grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 32px;
    align-content: flex-start;
  }
}
