@use "../variables/_colors.scss" as colors;

.container {
  &-home {
    display: flex;
    flex-direction: row;
    height: calc(100dvh - 100px);
    &_category {
      display: flex;
      width: 300px;
      flex: 1;
      border-right: 2px solid colors.get-color("paper", 6);
      box-sizing: border-box;
    }
    &_books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: calc(100% - 300px);
      height: 100%;
      overflow-y: scroll;
      overflow-y: auto;
      gap: 20px;
      box-sizing: border-box;
    }
  }
}
