@use "./typography/index" as typography;
@use "./components/index" as components;
@use "./variables/index" as variables;
@use "./pages/index" as pages;
@use './variables/colors' as colors;

html,
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  min-height: 100dvh; /* usa unidades dinámicas modernas */
}

input {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  color: colors.get-color("paper", 7);
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}




