$primary-color: #007bff;
$primary-border: #0052aa;

$danger-color: #dc3545;
$danger-border: #8d2731;

$confirm-color: #28a745;
$confirm-border: #185c27;

$alert-color: #ffc107;
$alert-border: #b38703;





