$palette: (
  primary: (
    1: rgb(183, 229, 205),
    2: rgb(138, 190, 185),
    3: rgb(48, 86, 105),
    4: rgb(193, 120, 90),
  ),
  success: (100: rgb(40, 167, 69), 200: rgb(24, 92, 39)),
  warning: (100: rgb(255, 193, 7), 200: rgb(179, 135, 3)),
  danger:  (100: rgb(220, 53, 69), 200: rgb(141, 39, 49)),
  info:    (100: rgb(0, 123, 255), 200: rgb(0, 82, 170))
);






