@use '../variables/colors.scss' as colors;

.button-base {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.base {
  background-color: white;
  border: 2px solid black;
  color: #fff;
}

.primary {
  background-color: colors.$primary-color;
  border: 2px solid colors.$primary-border;
  color: #fff;
}

.danger {
  background-color: colors.$danger-color;
  border: 2px solid colors.$danger-border;
  color: #fff;
}

.confirm {
  background-color: colors.$confirm-color;
  border: 2px solid colors.$confirm-border;
  color: #fff;
}

.alert {
  background-color: colors.$alert-color;
  border: 2px solid colors.$alert-border;
  color: #fff;
}