@use "sass:map";
@use '../variables/colors.scss' as colors;

.button-base {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.base {
  background-color: white;
  border: 2px solid black;
  color: #fff;
}

.primary {
  background-color: map.get(map.get(colors.$palette, 'info'), 100);
  border: 2px solid map.get(map.get(colors.$palette, 'info'), 200);
  color: #fff;

  &:hover {
    background-color: map.get(map.get(colors.$palette, 'info'), 200);
  }
}

.danger {
  background-color: map.get(map.get(colors.$palette, 'danger'), 100);
  border: 2px solid map.get(map.get(colors.$palette, 'danger'), 200);
  color: #fff;

  &:hover {
    background-color: map.get(map.get(colors.$palette, 'danger'), 200);
  }
}

.success {
  background-color: map.get(map.get(colors.$palette, 'success'), 100);
  border: 2px solid map.get(map.get(colors.$palette, 'success'), 200);
  color: #fff;

  &:hover {
    background-color: map.get(map.get(colors.$palette, 'success'), 200);
  }
}

.alert {
  background-color: map.get(map.get(colors.$palette, 'warning'), 100);
  border: 2px solid map.get(map.get(colors.$palette, 'warning'), 200);
  color: #000;

  &:hover {
    background-color: map.get(map.get(colors.$palette, 'warning'), 200);
  }
}