@use "sass:map";
@use '../variables/colors.scss' as colors;

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 5%;
  overflow: hidden;

  .counter-btn {
    border: 2px solid;
    color: white;
    font-size: 18px;
    min-width: 25%;
    height: 100%;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .counter-btn-left {
    background-color: map.get(map.get(colors.$palette, 'danger'), 100);
    border-color: map.get(map.get(colors.$palette, 'danger'), 200);
    border-radius: 15% 0 0 15%;

    &:hover {
      background-color: map.get(map.get(colors.$palette, 'danger'), 200);
    }
  }

  .counter-btn-right {
    background-color: map.get(map.get(colors.$palette, 'success'), 100);
    border-color: map.get(map.get(colors.$palette, 'success'), 200);
    border-radius: 0 15% 15% 0;

    &:hover {
      background-color: map.get(map.get(colors.$palette, 'success'), 200);
    }
  }

  .counter-display {
    min-width: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    background-color: #f9f9f9;
  }
}